fastapi
uvicorn[standard]
pydantic
python-multipart
faster-whisper
langchain
langchain-community
langchain-core
langchain-milvus
langchain-openai
langchain-text-splitters
numpy
openai
pydub
pymilvus
pymongo
pytubefix
starlette
librosa
torch
pymilvus[model]
FlagEmbedding>=1.3.3